:root {
  --bg-color: #F9F4F0; /* 배경색 */
  --main-color: #014421; /* 메인 텍스트 색상 */
  --sub-color: #EAC109; /* 서브 색상 */
}

body {
  background-color: var(--bg-color) !important; /* 변수로 배경색 설정 */
  font-family: 'Pretendard', sans-serif; /* 전역 폰트 */
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 481px) {
  .main-contents {
    margin-right: 60px; /* 데스크탑 sidebar 공간 확보 */
  }
}

@media (max-width: 480px) {
  .main-contents {
    margin-right: 0 !important; /* 초기화 */
  }
}
