/* postWrite css */

.post-area {
    display: flex; /* Flexbox 레이아웃 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    min-height: 80vh; /* 화면 전체 높이를 기준으로 중앙 정렬 */
    padding: 20px; /* 모바일에서 양 끝 여백 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
    position: relative;
}

.form-container {
    max-width: 765px;
    margin: 50px auto;
    padding: 15px;
    /* background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.input-field,
.textarea-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    resize: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-field:focus,
.textarea-field:focus {
    outline: none;
    border-color: #878787;
    box-shadow: 0 0 5px #ccc;
}

.input-field::placeholder,
.textarea-field:placeholder {
    color: #aaa;
    font-style: italic;
}

.input-field:focus::placeholder,
.textarea-field:focus::placeholder {
    color: transparent; /* 포커스 상태에서 placeholder 숨기기 */
}

.textarea-field {
    min-height: 300px;
}

.submit-btn {
    width: 15%;
    padding: 10px;
    background-color: #014421; /* 버튼 색상 */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.submit-btn:hover {
    background-color: #003300; /* 호버 시 버튼 색상 */
}

@media (max-width: 481px) {
    .form-container {
        margin: 10px;
        padding: 10px;
    }
    .textarea-field {
        max-height: 300px;
    }
    .submit-btn {
        width: 30%;
        padding: 8px;
        font-size: 14px;
    }
}

/* 미니 바 스타일 */
.mini-bar {
    position: absolute;
    display: flex;
    gap: 10px;
    background-color: #ffffff;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.mini-bar-btn {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}

.mini-bar-btn2 {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    width: 80px;
    margin-bottom: 5px;
}

.mini-bar-btn:hover {
    text-decoration: underline;
}